/* ==================================================== FONTS =================================================== */
$font_1: 'Comfortaa', sans-serif;
$font_2: 'RocaOne', sans-serif;
$font_3: 'Cafedream', sans-serif;
$fontSizeBase: 16px;
/* ==================================================== LAYOUT =================================================== */
$pageWidth: 166rem;

/* ==================================================== ADAPTIVE =================================================== */
$mobile:                                          375px;
$mobileMd:                                        480px;
$tablet:                                          768px;
$tabletPortrait:                                 1024px;
$laptop:                                         1200px;
$desktop:                                        1440px;
$desktopXL:                                      1920px;
// $desktopXXL:                                     1599px;
/* ==================================================== LAYOUTS ==================================================== */

$article-wrapper:                                 896px;
$small-wrapper:                                  1130px;
$second-wrapper:                                 1360px;
$main-wrapper:                                   1680px;
/* ===================================================== COLORS ==================================================== */

$bg-color: var(--color-white-2);

/* ===================================================== RGBA ====================================================== */
